<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header mb-4">
    <div class="container-fluid">
      <div class="row mb-2">

      </div>
    </div><!-- /.container-fluid -->
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="error-page">
      <h2 class="headline text-warning"> 404</h2>

      <div class="error-content">
        <h2><i class="fas fa-exclamation-triangle text-warning"></i> La página que buscas no se encuentra.</h2>

        <p>
          Esto significa que <strong>no existe</strong> o <strong>no tienes permisos</strong> para acceder a ella.
          Quizás quieras volver al <a [routerLink]="['/']">Inicio</a>.
        </p>
      </div>
      <!-- /.error-content -->
    </div>
    <!-- /.error-page -->
  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->