<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="font-weight-bold">Usuarios</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a [routerLink]="['/']">Inicio</a></li>
            <li class="breadcrumb-item active">Usuarios</li>
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>

  <!-- Main content -->
  <section class="content">
    <!-- Default box -->
    <div class="matTable-container">
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 matTable-table">
        <ng-container matColumnDef="nombre">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre</th>
          <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
        </ng-container>
        
        <ng-container matColumnDef="telefono">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Teléfono</th>
          <td mat-cell *matCellDef="let element"> {{element.telefono}} </td>
        </ng-container>

        <ng-container matColumnDef="cargo">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Cargo</th>
          <td mat-cell *matCellDef="let element"> {{element.cargo}} </td>
        </ng-container>

        <ng-container matColumnDef="imagen">
          <th mat-header-cell *matHeaderCellDef> Img.</th>
          <td mat-cell *matCellDef="let element"> 
            <div *ngIf="element.imagen != ''"><img src="../../assets/img/{{element.imagen}}" class="img-avatar"></div>
            <div *ngIf="element.imagen == ''"><img src="../../assets/img/imagen-no-disponible.jpg" class="img-avatar"></div>
          </td>
        </ng-container>

        <ng-container matColumnDef="statusUsuario">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Status</th>
          <td mat-cell *matCellDef="let element">
            <div *ngIf="element.statusUsuario == 1"><span class="badge badge-success">Activo</span></div>
            <div *ngIf="element.statusUsuario == 0"><span class="badge badge-danger">Desactivado</span></div>
          </td>
        </ng-container>
        <!-- <span class="badge badge-success">Activo</span> -->

        <ng-container matColumnDef="Acciones">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Acciones</th>
          <td mat-cell *matCellDef="let element"> <button class="btn btn-warning btn-sm" onclick="mostrar_usuario()"><i class="fas fa-fw fa-pencil-alt"></i></button></td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <!-- <mat-paginator [pageSizeOptions]="[5, 10, 20]"
        showFirstLastButtons 
        aria-label="Select page of periodic elements">
      </mat-paginator> -->
    </div>
  </section>
  <!-- /.content -->
</div>