/* You can add global styles to this file, and also import other style files */

html,
body {
	height: 100%;
}
body {
	margin: 0;
	font-family: Roboto, "Helvetica Neue", sans-serif;
}

.matTable-container {
	position: relative;
	overflow: auto;
}

.matTable-table {
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
	font-family: Roboto, "Helvetica Neue", sans-serif;
}

.visible {
	display: block;
}

.no-visible {
	display: none;
}

html,
body {
	height: 100%;
}
body {
	margin: 0;
	font-family: Roboto, "Helvetica Neue", sans-serif;
}
